/* Color Blanco con sombreado */

/* .title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 13rem;
  padding-bottom: 5rem;
} */

/* Color gris sin sombreado */
.title {
  color: #50555c;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 13rem;
  padding-bottom: 4rem;
}

@media screen and (width <= 600px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (width <= 1400px) {
  .title {
    padding-left: 5rem;
    padding-bottom: 4rem;
  }
}
