.cardBox {
  border-radius: 0px 0px 100px 100px;
  border: 1px solid #00ecff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card {
  width: 554px;
  height: 641px;
}

.icon {
  width: 85px;
  height: 85px;
  top: -2.5rem;
}

@media screen and (200px <= width <= 500px) {
  .card {
    width: 160px;
    height: 256px;
  }

  .icon {
    width: 39px;
    height: 39px;
    top: -1rem;
  }
}

@media screen and (501px <= width <= 800px) {
  .card {
    width: 280px;
    height: 450px;
  }

  .icon {
    width: 70px;
    height: 70px;
    top: -2rem;
  }
}
